.newAdminProdject{
  flex:4;
  padding: 10px;
}
.newAdminProdjectForm{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 10px;
}
.newAdminProdjectItem{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
  border: none;

}
.newAdminProdjectItem>label{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #464444;
}
.newAdminProdjectItem>input{
  height: 20px;
  padding: 10px;
  height: 30px;
  /* border: 1px solid gray; */
  /* border-radius: 5px; */
  border:none;


}
.newAdminBorder{
  border-bottom: 1px solid;
}

.newAdminProdjectGender>input{
  margin-top: 15px;
}
.newAdminProdjectGender>label{
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newAdminProdjectSelect{
  height: 40px;
  border-radius: 4px;
}

.newAdminProdjectButton{
  width: 210px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight:600;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
}

.Admincircularcontrol{
  height: 100px;
}
