.resume{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.resume__container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  margin-top: 100px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: var(--box-shadow2);
}

.resume__container .resume__left-side{
  position: relative;
  background: #003147;
  padding: 40px;
}
.resume__profileText{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.resume__profileText .resume__img-box{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.resume__profileText .resume__img-box img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.resume__profileText h2{
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4;

}
.resume__profileText h2 span{
  font-size: 0.8em;
  font-weight:300;
}
.resume__contactInfo{
  padding-top: 40px;
}
.resume__title{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.resume__contactInfo ul{
  position: relative;

}
.resume__contactInfo ul li{
  position: relative;
  list-style: none;
  margin: 10px 0;
}
.resume__contactInfo ul li .resume__icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color:#03a9f4;
}
.resume__contactInfo ul li span{
  color: #fff;
  font-weight: 300;
  font-size: 10px;
}

.resume__container .resume__right-side{
  position: relative;
  background: #fff;
  padding: 40px;
}

 .resume__education ul li{
    margin-bottom: 15px;
}

.resume__education ul li h5{
    color:#03a9f4;
    font-weight: 500;
}

.resume__education ul li h4:nth-child(2){
    color:#fff;
    font-weight: 500;
}

.resume__education ul li h4{
    color:#fff;
    font-weight: 300;
}

.resume__language .resume__percent{
  position: relative;
  width: 100%;
  height: 6px;
  background: #232424;
  display: block;
  margin-top: 5px;
}
.resume__language .resume__percent div{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}
.resume__percent-score{
  width: 95%;
}
.resume__percent-score1{
  width: 1%;
}

.resume__about{
  margin-bottom: 50px;

}

.resume__about:last-child{
  margin-bottom: 0;

}

.resume__right-title{
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.resume__right-par{
  color:#333;
}


.resume__right-box{
  display: flex;
  flex-direction: row;
  margin: 20px 0;

}

.resume__right-box .resume__year-company{
  min-width: 150px;

}

.resume__right-box .resume__year-company h5{
  text-transform: uppercase;
  color:#848c98;
  font-weight: 600;

}

.resume__right-box .resume__text h4{
  text-transform: uppercase;
  color:#2a7da2;
  font-size: 16px;
}

.resume__skills .resume__right-box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;

}

.resume__skills .resume__right-box h4{
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.resume__skills .resume__right-box .resume__righ-percent{
  position: relative;
  width: 100%;
  height: 10px;
  background:#f0f0f0;
}

.resume__skills .resume__right-box .resume__righ-percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.resume__interest ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.resume__interest ul li{
  list-style: none;
  color:#333;
  font-weight: 500;
  margin:10px 0;
}

.resume__interest ul li svg{
  color:#03a9f4;
  font-size: 18px;
  width: 20px;
}

@media(max-width:1000px) {
  .resume__container{
    margin:10px;
    grid-template-columns: repeat(1,1fr);
  }
  .resume__interest ul{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:600px) {
  .resume__about .resume__right-box {
    flex-direction: column;
  }

    .resume__about .resume__right-box .resume__year-company{

      margin-bottom: 5px;
    }

    .resume__interest ul{
      grid-template-columns: repeat(1,1fr);
    }

    .resume__skills .resume__right-box{
      grid-template-columns: repeat(1,1fr);
    }
}
