
 .main__portfolio-box-container{
  display: grid ;
grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
grid-gap: 1.5rem;
gap: 1.5rem;


}

.main__portfolio-box{
 overflow: hidden;

 border-radius: .5rem;
 box-shadow: var(--box-shadow2);
 transition: .4s;

}
.main__portfolio-box:hover{
  box-shadow: var(--box-shadow3);
}
.main__portfolio-box img{
 height: 25rem;
 width: 100%;
 object-fit: cover;
}
.main__portfolio-content{
  padding: 2rem;
}
.main__portfolio-content h3{
  line-height: 1.8;
  color:var(--black);
  font-size: 2rem;
  padding: .5rem 0;
}
.main__portfolio-content p{
  line-height: 1.8rem;
  color:var(--ligth-color);
  font-size: 1.2rem;
  padding: .5rem 0;
}

.main__portfolio-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: var(--border);
}
.main__portfolio-icons a{
  color:var(--ligth-color);
  font-size: 1.5rem;
}
.main__portfolio-icons a:hover{
   color:var(--black);
}
.main__portfolio-icons a svg{
  color:var(--primary-color);
  font-size: 1.5rem;
  padding-right: .5rem;
}

.main__portfolio-btn{

  width: 150px;
  /* margin-top: 1rem; */
  margin: 1rem;
  padding: .5rem 4rem;
  font-size: 1rem;
  border-radius: .5rem;
  border: .2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  background: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* media Queries*/
/* @media (max-width:335px) {
  .main__portfolio-btn{
    width: 90px;
  }
} */
@media (max-width:450px) {
  .main__portfolio-btn{
    width: 100px;
  }
}
@media (max-width:600px) {
  .main__portfolio-btn{
    width: 120px;
  }
}
@media (max-width:1000px) {
  .main__portfolio-btn{
    width: 120px;
  }
}

 .main__portfolio-btn:hover{
  background: var(--primary-color);
  color: var(--white);
  transition: .2s;
}
.main__portfolio-btn svg{
  font-size: 20px;
  padding: 0 4px;
}
.main__portfolio-btn-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(4rem,2fr));
  gap:1rem;


}
